<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<!--
  <listeners>
    <listener class-name="ui.automation.selenium.tests.listeners.TestListener" />
    <listener class-name="ui.automation.selenium.tests.listeners.AnnotationTransformer" />
  </listeners>
-->
  
  <test thread-count="5" name="Test">
    <classes>
      <class name="ui.tests.DemoTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
